.events {
  &-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 50px 0;
    color: $green;
   
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;

    &-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      p {
        text-align: center;
        max-width: 300px;
        word-wrap: wrap;
        word-break: break-all;
        margin-top: 2rem 0;
        margin-bottom: 10px;
       
      }

      h4 {
        color: $green;
        margin: 1rem 0;
       
      }

      img {
        width: 80%;
        width: 450px;
      }

      .btn{
        margin-bottom: 30px;
        &:hover {
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
      }
    }
  }
}
